<!DOCTYPE html>
<html lang="en">
	<head>
		<link type="text/css" href="{{STATIC_URL}}css/bootstrap.css" rel="Stylesheet" />
		<script type="text/javascript" src="{{STATIC_URL}}js/jquery.js"></script>
		<script type="text/javascript">
			$(document).ready(function() {
				$('#id_subdomain').val(localStorage.subdomain);
				$('#id_token').val(localStorage.token);

				$('#submit').click(function() {
					setLocalStorage('subdomain', $('#id_subdomain').val());
					setLocalStorage('token', $('#id_token').val());
				});

				function setLocalStorage(key, value) {
					localStorage[key] = value;
				}
			});


		</script>
	</head>
	<body>
		<div class="container">
			<h1>Uberimport</h1><br/>
			<form method="POST" enctype="multipart/form-data" action="/upload/">
				{% csrf_token %}
				{{ form.as_p }}
				<input id="submit" type="submit" value="Giver!"/>
			</form>
		</div>
	</body>
</html>